langchain
python-dotenv
ipykernel
pypdf
bs4
langchain_text-splitters
langchain_openai
chromadb==0.4.14
langchain_ollama
sentence_transformers
langchain_huggingface
hf_xet
faiss-cpu
langchain_chroma
langchain_community
streamlit
toml
langchain_groq
langchain_core
langserve
sse_starlette